.navbar{
    background-image: linear-gradient(to right, transparent 30%,#FFE143 70%);
    height:13vh;
}
ul{
    margin-right:52px;
}
li{
    padding:30px;
    
}
#navbarNav{
    z-index:1;
}

#gray{
    position: absolute;
    z-index:-1; 
    top:120px;
    right:48px;
    width:35vw;
    height:64vh;
}
#last{
    
    z-index:-1;
    background-color:#FFE143;
}
h1{
    position: relative;
    top:350px;
    right:54px;
    font-family: sans-serif;
    transform: rotate(270deg);
}
h5{
    color:#707070;
    position: relative;
    top:275px;
    font-family: sans-serif;
    transform: rotate(270deg);
}
p{
    font-family: sans-serif;
}

@media only screen and (max-width:970px) {
     li{
        padding:10px;
     }
     #gray{
        
        position: relative;
        height:200px;
        width:200px;
        top:10px;
        right:190px;
     }
     h1,h5{
        transform: rotate(-360deg);
        position: relative;
        top:0;
        right:3px;
     }
}